.main {
    width: 100%;
    background-color: #eaeef6;
}

.main__block {
    width: 100%;
    margin: 0 auto;
    padding: 25px 0 49px;
}

.main__content {
    width: 100%;
    display: flex;
}

.main__column {
    width: 20%;
    margin: 0 auto;
    display: block;
}

@media screen and (max-width: 1200px) {
    .main__block {
        padding: 40px 0 64px;
    }
    .main__content {
        display: block;
    }
    .main__column {
        width: 100%;
        margin: 0 auto;
    }
}
