.calendar {
    width: 182px;
    margin-bottom: 20px;
}

.calendar__ttl {
    margin-bottom: 14px;
    padding: 0 7px;
}

.calendar__p {
    color: #94a6be;
    font-size: 10px;
}

.calendar__days-names {
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
    padding: 0 7px;
}

.calendar__day-name {
    color: #94a6be;
    font-size: 10px;
    font-weight: 500;
}

.calendar__cells {
    width: 182px;
    height: 126px;
    display: flex;
    flex-wrap: wrap;
}

.calendar__cell {
    width: 22px;
    height: 22px;
    margin: 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #94a6be;
    font-size: 10px;
    cursor: pointer;
}

._cell-day:hover {
    color: #94a6be;
    background-color: #eaeef6;
}

._active-day {
    background-color: #94a6be;
    color: #ffffff;
}

._current {
    font-weight: 700;
}

@media screen and (max-width: 660px) {
    .calendar {
        max-width: 340px;
        width: 100%;
    }
    .calendar__p {
        font-size: 14px;
    }
    .calendar__day-name {
        font-size: 14px;
    }
    .calendar__cells {
        width: 344px;
        height: auto;
        justify-content: space-around;
    }
    .calendar__cell {
        width: 42px;
        height: 42px;
        font-size: 14px;
    }
}
