.pop-browse:target {
    display: block;
}
.pop-browse {
    display: none;
    width: 100%;
    height: 100%;
    min-width: 375px;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
}
.pop-browse__container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
}
.pop-browse__block {
    display: block;
    margin: 0 auto;
    background-color: #ffffff;
    max-width: 630px;
    width: 100%;
    padding: 40px 30px 38px;
    border-radius: 10px;
    border: 0.7px solid #d4dbe5;
    position: relative;
}
.pop-browse__content {
    display: block;
    text-align: left;
}
.pop-browse__content .categories__theme {
    opacity: 1;
}
.pop-browse__content .theme-down {
    display: none;
    margin-bottom: 20px;
}
.pop-browse__content .theme-top {
    display: block;
}
.pop-browse__top-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.pop-browse__ttl {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}
.pop-browse__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.pop-browse__form {
    max-width: 370px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.pop-browse__btn-browse,
.pop-browse__btn-edit {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.pop-browse__btn-browse button,
.pop-browse__btn-edit button {
    height: 30px;
    margin-bottom: 10px;
    padding: 0 14px;
}
.pop-browse__btn-browse .btn-group button,
.pop-browse__btn-edit .btn-group button {
    margin-right: 8px;
}

.form-browse__block {
    display: flex;
    flex-direction: column;
}
.form-browse__area {
    max-width: 370px;
    width: 100%;
    outline: none;
    padding: 14px;
    background: #eaeef6;
    border: 0.7px solid rgba(148, 166, 190, 0.4);
    border-radius: 8px;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.14px;
    margin-top: 14px;
    height: 200px;
}
.form-browse__area::-moz-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1px;
    color: #94a6be;
    letter-spacing: -0.14px;
}
.form-browse__area::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1px;
    color: #94a6be;
    letter-spacing: -0.14px;
}

.form-new__block {
    display: flex;
    flex-direction: column;
}
.form-new__input,
.form-new__area {
    width: 100%;
    outline: none;
    padding: 14px;
    background: transparent;
    border: 0.7px solid rgba(148, 166, 190, 0.4);
    border-radius: 8px;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.14px;
}
.form-new__input::-moz-placeholder,
.form-new__area::-moz-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1px;
    color: #94a6be;
    letter-spacing: -0.14px;
}
.form-new__input::placeholder,
.form-new__area::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1px;
    color: #94a6be;
    letter-spacing: -0.14px;
}
.form-new__input {
    margin: 20px 0;
}
.form-new__area {
    max-width: 370px;
    margin-top: 14px;
    height: 200px;
}
.form-new__create {
    width: 132px;
    height: 30px;
    background-color: #565eef;
    border-radius: 4px;
    border: 0;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #ffffff;
    float: right;
}